.screen-center{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding:20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}